@font-face {
    font-family: "Customised-font";
    src: url('../../../../Assets/Fonts/Poppins/Poppins-Regular.ttf');
    /* src: url('../../../../Assets/Fonts/Roboto/Roboto-Thin.ttf'); */
    font-weight: normal;
    font-style: normal;
}

:root, html, body {
    min-height: 100vh;
    width: 100%;
    background: rgb(0, 24, 37);
}

.intructor-dashboard-wrapper {
    /* border-radius: 20px 20px 0 0; */
    background: rgb(0, 24, 37);
    color: antiquewhite;
    min-height: 100vh;
    min-width: 100%;
    font-weight: 100;
}

svg {
    width: 30px;
    height: 30px;
    filter: invert(1);
 margin-inline-start: 10px;

}

.teacher-quick-actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.sticky {
    background: rgba(0, 24, 37, 0.969);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 10;
}

header .teacher-quick-actions-center .dropdown-menu, .other-actions .dropdown-menu{
    background-color: rgb(1, 51, 78);
    transition: all .5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 10px;
    margin-top: 20px !important;
}

header .teacher-quick-actions-center .dropdown-menu .dropdown-item, .other-actions .dropdown-item{
    color: aliceblue;
    background-color: transparent !important;
}

header .teacher-quick-actions-center .dropdown-menu li, .other-actions .dropdown-menu li{
    display: flex;
    align-items: start;
    justify-content: start;
    margin-block: 5px;
    /* padding: 10px; */
} 

header .teacher-quick-actions-center .dropdown-menu li:hover, .other-actions .dropdown-menu li:hover{
  background-color: rgb(6, 21, 45);
} 
header .teacher-quick-actions-center .dropdown-menu li svg, .other-actions .dropdown-menu li svg{
    width: 30px;
    height: 30px;
    filter: invert(1);
} 
header .teacher-quick-actions-center .dropdown-menu li .fa, .other-actions .dropdown-menu li .fa{
 font-size: 20px;
 color: #f0f8ff;
 padding-inline-start: 10px;
} 


.other-actions .dropmenu-header {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bolder;
    padding-block: 10px;
    color: bisque;
    border-bottom: 1px solid ;
}
.more-btn {
    user-select: none;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: rgb(1, 39, 59);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
    font-weight: bolder;
}

.other-actions .other-actions-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.other-actions-content li {
    margin-inline: 10px;
}

.heading-text {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: rgb(0, 37, 57);
  z-index: 40;
}

.switch-content-header {
    padding-inline: 15px;
    display: flex;
    align-items: center;
    justify-content: unset;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 15px;
}


.switch-content-header .switch-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.switch-content-header .switch-content-wrapper .switch-text {
    font-size: 25px;
}

.switch-course-wrapper {
    position: relative;
    border-radius: 50px;
    border: 1px solid rgb(6, 169, 190);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    background: rgb(1, 96, 148);
    width: 55%;
}

.switch-course-btn {
    border: none;
    box-shadow: none;
    background: none;
    border-radius: 50px;
    padding: 10px 15px;
    background: rgb(1, 51, 78);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.switch-course-wrapper .current-course {
    font-size: 14px;
    font-weight: bolder;
    padding-inline: 10px;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: rgb(248, 217, 177);
}

.search-dashboard-content-wrapper {
    margin: 15px auto;
    width: 100%;
}

.search-dashboard-content-wrapper .form-group input{
    box-shadow: none;
    outline: none;
    border: none;
    background: rgb(1, 51, 78);
    color: #f0f8ff;
    font-size: 18px;
}

.search-dashboard-content-wrapper .form-group input::placeholder{
    color: #f0f8ff;
    font-size: 18px;
}

.class-courses-wrapper {
    width: 100%;
    background-color: rgb(1, 38, 58);
    border-radius: 10px;
    margin-block: 15px;
    overflow-x: auto;
    width: 100%;
    padding: 10px;
}

.class-courses-wrapper:hover {
    cursor: pointer;
}

.class-courses-wrapper::-webkit-scrollbar { 
    width: 10px;
    display: none;
    scroll-behavior: auto;
}
  .class-courses-wrapper::-webkit-scrollbar-track { 
    background-color: rgb(204, 206, 208);
    border-radius: 100px;
}
  .class-courses-wrapper::-webkit-scrollbar-thumb { 
  background-color: rgb(18, 81, 168);
  border-radius: 100px;
}

  .class-courses-wrapper::-webkit-scrollbar-thumb:hover { 
    background-color: rgb(5, 97, 226);
}

.class-courses-wrapper ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap !important;
    flex-direction: row;
    width: 200%;
    overflow-x: auto;
}

.class-courses-wrapper ul .nav-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
   overflow-x: auto;
   word-break: keep-all;
   border-radius: 50px;
   padding: 5px;
   background-color: rgb(1, 51, 67);
   box-shadow: inset 10px 10px 30px rgb(0, 14, 22);
   padding: 5px 10px;
   margin-inline: 10px;
   text-align: center;
}

.class-courses-wrapper .nav-list  span {
    font-family: 'Customised-font', sans-serif;
    word-break: keep-all;
    width: 100%;
    font-weight: lighter;
    padding-inline: 10px;
    cursor: pointer;

}


/* chat */

main {
    margin: 30px auto;
    height: 100%;
    width: 100%;
    background: rgb(0, 24, 37);
}


main  .chat-list-container{
   display: flex;
   align-items: stretch;
   justify-content: stretch;
   flex-direction: column;
   flex-wrap:nowrap;
   height: 100%;
   width: 100%;
   /* background: rgb(0, 24, 37); */

}

main  .chat-list-container .chat-list{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    /* background: rgb(0, 24, 37); */
    padding-bottom: 40px;
}
main  .chat-list-container .chat-list .student-profile-content{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 15px 15px;
    border-bottom: 1px solid rgb(0, 46, 66);
    /* background: rgb(0, 29, 45); */
} 

main  .chat-list-container .chat-list .student-profile-content:hover{
    width: 100%;
    background: rgb(1, 38, 58);
    cursor: pointer;
} 

main  .chat-list-container .chat-list .student-profile-content .student-img{
    width: 75px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid rgb(6, 169, 190);
    padding: 2px;
    margin-right: 15px;
} 

main  .chat-list-container .chat-list .student-profile-content .student-chat-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main  .chat-list-container .chat-list .student-profile-content .chat-time-details{
    display: flex;
    justify-self: right !important;
    align-items: center;
}

main  .chat-list-container .chat-list .student-profile-content .student-name-chat {
    display: flex;
    flex-direction: column;
    align-items: start;
}

main  .chat-list-container .chat-list .student-profile-content .student-name{
    font-weight: ligh;
    /* font-family: 'Customised-font', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}


main  .chat-list-container .chat-list .student-profile-content .current-text{
    color: grey;
    font-size: 15px;
    font-weight: 400;
    text-overflow: clip;
}

main .chat-list-container .student-profile-content .chat-time-details {
    display: flex;
    align-items: end;
    justify-content: right;
    flex-direction: column;
    padding-inline: 5px;
}

main .chat-list-container .student-profile-content .chat-time-details .unread-text{
    border-radius: 50px;
    background-color: rgba(26, 255, 0, 0.567);
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

@media (min-width:800px) {
    main {
        padding-inline: 110px;
    }
}


/* chat room */

.teacher-chat-room {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
}
    
.teacher-chat-room header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(6, 21, 45);
    border-bottom: 1pxs solid rgb(19, 55, 120);
    border-radius: 0 0 10px 10px;
    z-index: 100;
}

.stacked {
  background: rgba(0, 24, 37, 0.969);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.student-profile-container {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 3px;
color: #f0f8ff;
z-index: 100;
}

.back-btn {
    margin-inline-end: 18px;
  }
  
.student-profile-container .student-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

      .student-profile-container .student-profile .teaher-img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-size: cover;
        object-fit: cover;
        background-position: center;
        border: 2px solid rgb(2, 125, 249);
        padding: 2px;
        margin-right: 13px;
    }

    .student-profile-container .student-profile .student-details {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .student-profile-container .student-profile .student-details .student-name{
        font-size: 16px;
        font-weight: 400;
        color: rgb(255, 255, 255);
    }
    .student-profile-container .student-profile .student-details .student-status{
        font-size: 10px;
        font-weight: 300;
        color: rgb(123, 145, 145);
    }

    .student-profile-container .user-call-action-center{
        margin-inline-end: 16px;
        min-width: 25%;
        z-index: 10;
    } 

    .student-profile-container .user-call-action-center .dropdown-menu {
        background-color: rgb(2, 38, 58);
        transition: all .5s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
        border-radius: 10px;
    }

    .student-profile-container .user-call-action-center .dropdown-menu .dropdown-item{
        color: aliceblue;
        background-color: transparent !important;

    } 
    .student-profile-container .user-call-action-center .dropdown-menu li{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 5px;
        padding: 10px;
    } 

    .student-profile-container .user-call-action-center .dropdown-menu li:hover{
      background-color: rgb(6, 21, 45);
    } 
    .student-profile-container .user-call-action-center .dropdown-menu li svg{
        width: 30px;
        height: 30px;
        filter: invert(1);
     margin-inline-start: 10px;

    } 
    .student-profile-container .user-call-action-center .dropdown-menu li .fa{
     font-size: 20px;
     color: #f0f8ff;
     padding-inline-start: 10px;
  } 

    .chat-area {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../../Assets/customs/chat-bg.webp') center/cover no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
        object-fit: contain;
        padding-block-start: 20%;
        padding-inline: 15px;
        display:flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        position: relative;
        color: wheat;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
    }

    .chat-area .welcome-text {
      background: rgba(1, 34, 49, 0.6);
      width: 300px;
      height: fit-content;
      border-radius: 5px;
      padding: 6px;
      text-align: center;
      font-weight: 300;
      border: 1px solid rgb(123, 145, 145);
      margin-block: 20px;
    } 
    .current-date{
      position: absolute;
      top: 70px;
      background-color: rgb(2, 35, 32);
      padding-inline: 7px;
      border-radius: 50px;
      color: aliceblue;
    }
    .send-info {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: rgb(6, 21, 45);

    }

    .collapse-body {
      position: fixed;
      bottom: 13%;
      left: 5%;
    }

    .collapse-body .card {
      background-color: rgb(15, 47, 86);
      width: 300px;
      border-radius: 50px;
      overflow: auto;
    }
    .collapse-body .card .file-btn-container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .file-btn-container a {
      padding: 10px;
      text-decoration: none;
      color: #f0f8ff;
      margin: 10px;
    }
    .file-btn-container a span i{
      background: rgb(1, 81, 112);
      border-radius: 50px;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    }
    .collapse-body .card .file-btn-container a span{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .collapse-body .card .file-btn-container a span:hover{
      transform: scale(.9);
      transition: all .3s ease;
    }
    .collapse-body .card .file-btn-container a small{
      margin-top: 12px;
    }
    .send-info textarea {
      width: 100%;
      height: 50px;
      background-color: inherit;
      margin-inline: 10px;
      /* margin-right: 20px; */
      color: aliceblue;
      padding: 10px 20px;
      border-radius: 60px;
      box-shadow: none;
      outline: none;
      background: rgb(0, 46, 66);
      box-sizing: border-box;
      resize: none;
    }

    .send-text-btn {
      background-color: rgb(3, 84, 124);
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      text-align: center;
      padding-inline-end: 0 !important;
      display: none;
      transition: all .10s ease-in-out;
    }

    .file-btn-group {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      margin-inline-start: 5px;
    }

    .toggle-styles {
        display: none !important;
        visibility: hidden;
      transition: all .10s ease-in-out;

    }
    .show-send-btn {
      display: flex;
      visibility: visible;
    }

    .file-btn-group span{
      padding-inline-end: 25px;
    }

       .file-btn-group span:last-child{
      padding-inline-end: 10px;
    }
  
    .send-info i {
      font-size: 24px;
      color: wheat;
    }
    .current-date.sticky {
      position: fixed;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

#student-contact-container .card {
  background: rgb(0, 26, 57);
}

.wrapper {
  position: fixed;
  top: 30%;

}


#student-contact-container .card button{
  background: forestgreen;
  margin-top: 20px;
  box-shadow: none;
}

.profile-container {
  position:  fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: rgb(10, 59, 78);
}


.student-profile-content .background-banner {
  background-color: rgb(1, 28, 67);
    width: 100%;
    height: 150px;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.profile-content {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 30px;
}

.profile-content .student-img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  border: 2px solid rgb(2, 125, 249);
  padding: 2px;
  clear: both;
}

.profile-content .student-name {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
}


.profile-container .card-wrap {
  margin-bottom: 20px;
  background-color: rgb(1, 18, 40);
 border-radius: 20px;
 padding: 15px;
 font-weight: lighter !important;
 font-size: large;
 color: burlywood;
}

.profile-container .card-wrap .student-mobile-contact {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.profile-container .card-wrap .user-action-center ul{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profile-container .card-wrap .user-action-center ul .nav-link{
  border-radius: 50px;
  margin-inline: 5px;
  background-color: rgb(1, 103, 108);
  color: #f0f8ff;
}

.profile-container .close-btn {
  padding: 10px;
  background-color: transparent !important;
  border: none;
  box-shadow: none !important;
  outline: none !important;
  font-weight: 900;
  font-size: 18px;
}


/* dashboard */

main .card-box{
  border-radius: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 15px 10px;
  box-shadow: inset 20px 30px 60px rgb(1, 109, 167);
  flex-grow: 3;
  background: rgb(1, 51, 78);
  color: #f0f8ff;
}


.dashboard-wrapper .card-box .card-body{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.dashboard-wrapper  .card-box .card-icon{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


.dashboard-wrapper  .card-box  .card-icon i{
  font-size: 37px;
  margin-left: 12px;
  border-radius: 50px;
}

.dashboard-wrapper  .card-box .card-contact-details{
 margin-top: 10px;
 display: flex;
 flex-direction: column;
 margin-left: 15px;
}

.dashboard-wrapper  .card-box .card-contact-details  .card-title{
  font-size: 26px !important;
  font-weight: 600;
  margin-bottom: 5px;
}

.dashboard-wrapper  .card-box .card-contact-details  .card-title{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.dashboard-wrapper  .card-box .card-contact-details  .total-number{
  font-size: 26px;
  font-weight: bolder;
}


.student-progress-bar {
  width: 100px;
  height: 100px;
  border: 15px solid rgb(174, 39, 192);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  border-bottom: 15px solid rgb(205, 205, 205) !important;
  border-left: 15px solid rgb(205, 205, 205) !important;
  border-right: 15px solid rgb(205, 205, 205) !important;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  color: rgb(53, 209, 1);
}

.update-time {
  margin-bottom: 0;
  color: rgb(203, 205, 88);
  font-size: 16px;
  padding-block: 4px;
  margin-left: 15px;
}


.recent-updates {
  border-radius: 20px;
  flex-wrap: nowrap;
  padding: 15px 10px;
  background: rgb(1, 64, 113)  ;
  width: 100%;
  padding: 14px 10px;
  max-height: 280px;
  overflow-y: auto;
}

.active-student-wrapper {
  border-radius: 20px;
  background: rgb(1, 64, 113)  ;
  width: 100%;
  padding: 14px 10px;
  max-height: 280px;
  overflow-y: auto;
  position: relative;
  padding: 20px !important;
}

.active-student-wrapper .active-student-img {
  max-width: 65px;
  max-height: 65px;
  border-radius: 50px;
  border: 2px solid rgb(1, 165, 225);
  padding: 2px;
}

.active-student-wrapper .active-status-ball {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: rgb(1, 225, 83);
  position: absolute;
  right: 18%;
  bottom: 5%;
}


.active-student-wrapper .active-student-name {
  color: #f0f8ff;
  font-size: 20px;
}


main .recent-updates::-webkit-scrollbar, .active-student-wrapper::-webkit-scrollbar{ 
  width: 0px;
  background: transparent;
}
main .recent-updates::-webkit-scrollbar-track { 
  margin-block: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 100vw;
  margin-left: -20px;
}
main .recent-updates::-webkit-scrollbar-thumb { 
background-color: rgb(105, 108, 112);
border-radius: 100vw;

}
main .recent-updates::-webkit-scrollbar-thumb:hover { 
  background-color: rgb(5, 97, 226);
  }

.recent-updates .profile {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 8px;
  margin-block-end: 10px;
}



.recent-updates .profile img {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border: 2px solid rgb(100, 15, 134); 
  padding: 2px;
  margin-right: 15px;
 
}

.recent-updates .profile .profile-update-name {
  font-weight: 900 !important;
  font-size: 15px;
  color: rgb(11, 217, 4)
}

.recent-updates .profile .profile-update-content {
  font-weight: lighter;
  font-size: 18px;
  color: rgb(247, 244, 244);
  margin-left: 4px;
}

.recent-updates .profile .time-updated {
  padding-left: 50px;
  font-weight: bolder;
  font-size: 10px;
  color: rgb(151, 158, 14);
  margin-left: 4px;
}

footer {
  position: sticky;
  top: 100%;
  width: 100%;
  color: aliceblue;
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
}

.time-table-wrapper {
  /* background-color: red; */
  border-radius: 30px;
  position: relative !important;
}


.time-table-wrapper ul {
  position: absolute;
  bottom: -15%;
  border-radius: 20px;
  left: 0;
  right: 0;
  background-color: rgb(0, 57, 90);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.time-table-wrapper ul li{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50px;

}
.time-table-wrapper ul li:hover{
  transition: all ease .5s !important;
  font-size: 30px !important;
  color: rgb(17, 17, 17) !important;
  background-color: burlywood;
}

.time-table-wrapper .carousel-item img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}
.time-table-wrapper .carousel-item {
  padding: 20px;
}


.admin-contact-panel-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: hidden;
  margin: auto;
}

.admin-panel {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

}

.admin-contact-panel-wrapper .card-box{
    border-radius: 20px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: inset 20px 30px 60px rgb(1, 63, 128);
    flex-grow: 3;
    background: rgb(1, 22, 46);
    color: #f0f8ff;
}

.admin-contact-panel-wrapper .card-box li {
  width: 100%;
  background: transparent;
  text-align: start;
  color: beige;
  padding: 15px 20px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  border-bottom: 1px solid rgb(0, 72, 116);
  font-size: 22px;
}


.admin-contact-panel-wrapper .card-box li:last-child{
  border-bottom:none;
}

.admin-contact-panel-wrapper .card-box li:hover{
background: rgb(0, 26, 57);
}


.admin-contact-panel-wrapper .card-box li:hover:last-child{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.close-admin-contact-card {
  position: fixed;
  top: 5%;
  right: 10%;
  color: #f0f8ff;
  font-weight: bolder;
  font-size: 24px;
  box-shadow: none;
  outline: none;
  border: none;
}

.notification-header-list {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  overflow-x: auto;
  width: 100%;
}
.notification-header-list li {
  font-weight: bolder;
  padding-inline: 5px;
  margin-inline-start: px;
  color: rgb(35, 190, 188);
}

.notify-logo-content {
  color: rgb(110, 129, 154) !important;
}
.notification-header-list li:hover {
  border-radius: 5px;
  color: burlywood;
  border: thin solid;
  font-weight: bolder;
}
.notification-header {
  font-size: 14px;
}



.notify-logo-content {
  color: rgb(110, 129, 154) !important;
}
.notification-header-list li:hover {
  border-radius: 5px;
  color: burlywood;
  border: thin solid;
  font-weight: bolder;
}
.notification-header {
  font-size: 14px;
}

.notification-body {
  background: rgb(1, 32, 70) !important;
  color: aliceblue;
}
.notification-text {
  padding: 5px 10px;
}

.notification-action-center button {
  margin-inline: 10px;
}
.notification-duration-details {
  font-size: 13px;
  color: rgb(1, 225, 83);
}

.attendance-table-wrapper{
  width: 100%;
  overflow-x: auto;
}

table .number {
  list-style: decimal;
}

.user-attendance-img , .student-profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  border: 2px solid rgb(1, 184, 225);
  padding: 2px;
}

.adttendance-status {
  color: rgb(2, 157, 59);
  border-radius: 50px;
  font-weight: bold;
}

.adttendance-table-wrapper, .profile-table-wrapper {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
}

.attendance-header input , .profile-header input{
  box-shadow: none !important;
  outline: none  !important;
  padding-inline-start: 35px;
  border-radius: 20px;
}

table .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

table {
  width: 100%;
}

.attendance-header .form-group, .profile-header .form-group{
  position: relative;
}

.attendance-header .form-group .icon , .profile-header .form-group .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table th {
font-weight: bolder !important;
color: rgb(0, 0, 0) !important;
  
}


table tbody{
  background: rgb(247, 246, 210) !important;
  white-space: nowrap;
  color: rgb(5, 85, 197) !important;

}

.profile-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(0, 57, 90);
  border-bottom: thin solid rgb(1, 96, 148);
  z-index: 10;
}


/* profile */

.student-progress-wrapper, .student-details-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 26, 57);
  z-index: 100;
  overflow-y: auto;
}

.student-bio-details {
  background: rgb(0, 57, 90);
  border-radius: 10px;
}

.student-bio-details .form-control{
  box-shadow: none;
  border-radius: 10px !important;
  color: rgb(167, 188, 2);
  border: none;
  background-color: rgb(1, 30, 68);
  font-size: 24px;
}

.student-bio-details .form-group {
  margin-block: 10px;
}

.student-bio-details .form-group label {
  margin-block: 10px;
  color: #f0f8ff;
  font-size: 20px;
}


body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.student-progress-wrapper::-webkit-scrollbar, .profile-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.teacher-qick-actions ul{
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-block: 10px;
}

.teacher-qick-actions ul::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.teacher-qick-actions li{
    background: rgb(0, 26, 57);
    text-align: start;
    color: beige;
    padding: 15px;
    justify-content: start;
    font-size: 23px;
    margin-right: 10px;
    border-radius: 10px;
}

.profile-container .card-wrap  {
  cursor: pointer;
  background: transparent !;
}

.offcanvas-body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.student-progress-wrapper .card-wrap .progress-details li{
  width: 100%;
    background: transparent;
    text-align: start;
    color: beige;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 23px;
}

.close-progress-btn, .close-detail-btn {
  position: fixed;
  top: 3%;
  left: 5%;
  font-size: 20px;
  font-weight: bolder;
}

.student-progress-wrapper .progress-navbar {
  background: rgb(1, 51, 67);
  margin-inline: 10px;
  border-radius: 20px;
  color: #f0f8ff;
  font-size: 23px;
}

.student-progress-wrapper .progress-navbar li{
  border-radius: 10px;
  padding-inline: 10px;
  cursor: pointer;
}

.student-progress-wrapper .progress-navbar li:hover{
background: rgba(0, 24, 37, 0.969);
}

@font-face {
  font-family: "Customised-font";
  src: url('../../../../Assets/Fonts/Poppins/Poppins-Regular.ttf');
  /* src: url('../../../../Assets/Fonts/Roboto/Roboto-Thin.ttf'); */
  font-weight: normal;
  font-style: normal;
}

:root, html, body {
  min-height: 100vh;
  width: 100%;
  background: rgb(0, 24, 37);
}

.intructor-dashboard-wrapper {
  /* border-radius: 20px 20px 0 0; */
  background: rgb(0, 24, 37);
  color: antiquewhite;
  min-height: 100vh;
  min-width: 100%;
  font-weight: 100;
}

svg {
  width: 30px;
  height: 30px;
  filter: invert(1);
margin-inline-start: 10px;

}

.teacher-quick-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.sticky {
  background: rgba(0, 24, 37, 0.969);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 10;
}

header .teacher-quick-actions-center .dropdown-menu, .other-actions .dropdown-menu{
  background-color: rgb(1, 51, 78);
  transition: all .5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  border-radius: 10px;
  margin-top: 20px !important;
}

header .teacher-quick-actions-center .dropdown-menu .dropdown-item, .other-actions .dropdown-item{
  color: aliceblue;
  background-color: transparent !important;
}

header .teacher-quick-actions-center .dropdown-menu li, .other-actions .dropdown-menu li{
  display: flex;
  align-items: start;
  justify-content: start;
  margin-block: 5px;
  /* padding: 10px; */
} 

header .teacher-quick-actions-center .dropdown-menu li:hover, .other-actions .dropdown-menu li:hover{
background-color: rgb(6, 21, 45);
} 
header .teacher-quick-actions-center .dropdown-menu li svg, .other-actions .dropdown-menu li svg{
  width: 30px;
  height: 30px;
  filter: invert(1);
} 
header .teacher-quick-actions-center .dropdown-menu li .fa, .other-actions .dropdown-menu li .fa{
font-size: 20px;
color: #f0f8ff;
padding-inline-start: 10px;
} 


.other-actions .dropmenu-header {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bolder;
  padding-block: 10px;
  color: bisque;
  border-bottom: 1px solid ;
}
.more-btn {
  user-select: none;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: rgb(1, 39, 59);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  font-weight: bolder;
}

.other-actions .other-actions-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.other-actions-content li {
  margin-inline: 10px;
}

.heading-text {
position: fixed;
left: 0;
right: 0;
top: 0;
background: rgb(0, 37, 57);
z-index: 40;
}

.switch-content-header {
  padding-inline: 15px;
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 15px;
}


.switch-content-header .switch-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.switch-content-header .switch-content-wrapper .switch-text {
  font-size: 25px;
}

.switch-course-wrapper {
  position: relative;
  border-radius: 50px;
  border: 1px solid rgb(6, 169, 190);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background: rgb(1, 96, 148);
  width: 55%;
}

.switch-course-btn {
  border: none;
  box-shadow: none;
  background: none;
  border-radius: 50px;
  padding: 10px 15px;
  background: rgb(1, 51, 78);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.switch-course-wrapper .current-course {
  font-size: 14px;
  font-weight: bolder;
  padding-inline: 10px;
  padding: 10px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  color: rgb(248, 217, 177);
}

.search-dashboard-content-wrapper {
  margin: 15px auto;
  width: 100%;
}

.search-dashboard-content-wrapper .form-group input{
  box-shadow: none;
  outline: none;
  border: none;
  background: rgb(1, 51, 78);
  color: #f0f8ff;
  font-size: 18px;
}

.search-dashboard-content-wrapper .form-group input::placeholder{
  color: #f0f8ff;
  font-size: 18px;
}

.class-courses-wrapper {
  width: 100%;
  background-color: rgb(1, 38, 58);
  border-radius: 10px;
  margin-block: 15px;
  overflow-x: auto;
  width: 100%;
  padding: 10px;
}

.class-courses-wrapper:hover {
  cursor: pointer;
}

.class-courses-wrapper::-webkit-scrollbar { 
  width: 10px;
  display: none;
  scroll-behavior: auto;
}
.class-courses-wrapper::-webkit-scrollbar-track { 
  background-color: rgb(204, 206, 208);
  border-radius: 100px;
}
.class-courses-wrapper::-webkit-scrollbar-thumb { 
background-color: rgb(18, 81, 168);
border-radius: 100px;

}
.class-courses-wrapper::-webkit-scrollbar-thumb:hover { 
  background-color: rgb(5, 97, 226);
}

.class-courses-wrapper ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap !important;
  flex-direction: row;
  width: 200%;
  overflow-x: auto;
}

.class-courses-wrapper ul .nav-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
 overflow-x: auto;
 word-break: keep-all;
 border-radius: 50px;
 padding: 5px;
 background-color: rgb(1, 51, 67);
 box-shadow: inset 10px 10px 30px rgb(0, 14, 22);
 padding: 5px 10px;
 margin-inline: 10px;
 text-align: center;
}

.class-courses-wrapper .nav-list  span {
  font-family: 'Customised-font', sans-serif;
  word-break: keep-all;
  width: 100%;
  font-weight: lighter;
  padding-inline: 10px;
  cursor: pointer;

}


/* chat */

main {
  margin: 30px auto;
  height: 100%;
  width: 100%;
  background: rgb(0, 24, 37);
}


main  .chat-list-container{
 display: flex;
 align-items: stretch;
 justify-content: stretch;
 flex-direction: column;
 flex-wrap:nowrap;
 height: 100%;
 width: 100%;
 /* background: rgb(0, 24, 37); */

}

main  .chat-list-container .chat-list{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  /* background: rgb(0, 24, 37); */
  padding-bottom: 40px;
}
main  .chat-list-container .chat-list .student-profile-content{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 15px 15px;
  border-bottom: 1px solid rgb(0, 46, 66);
  /* background: rgb(0, 29, 45); */
} 

main  .chat-list-container .chat-list .student-profile-content:hover{
  width: 100%;
  background: rgb(1, 38, 58);
  cursor: pointer;
} 

main  .chat-list-container .chat-list .student-profile-content .student-img{
  width: 75px;
  height: 75px;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  object-fit: cover;
  border-radius: 50px;
  border: 2px solid rgb(6, 169, 190);
  padding: 2px;
  margin-right: 15px;
} 

main  .chat-list-container .chat-list .student-profile-content .student-chat-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main  .chat-list-container .chat-list .student-profile-content .chat-time-details{
  display: flex;
  justify-self: right !important;
  align-items: center;
}

main  .chat-list-container .chat-list .student-profile-content .student-name-chat {
  display: flex;
  flex-direction: column;
  align-items: start;
}

main  .chat-list-container .chat-list .student-profile-content .student-name{
  font-weight: ligh;
  /* font-family: 'Customised-font', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}


main  .chat-list-container .chat-list .student-profile-content .current-text{
  color: grey;
  font-size: 15px;
  font-weight: 400;
  text-overflow: clip;
}

main .chat-list-container .student-profile-content .chat-time-details {
  display: flex;
  align-items: end;
  justify-content: right;
  flex-direction: column;
  padding-inline: 5px;
}

main .chat-list-container .student-profile-content .chat-time-details .unread-text{
  border-radius: 50px;
  background-color: rgba(26, 255, 0, 0.567);
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

@media (min-width:800px) {
  main {
      padding-inline: 110px;
  }
}


/* chat room */

.teacher-chat-room {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
}
  
.teacher-chat-room header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(6, 21, 45);
  border-bottom: 1pxs solid rgb(19, 55, 120);
  border-radius: 0 0 10px 10px;
  z-index: 100;
}

.stacked {
background: rgba(0, 24, 37, 0.969);
box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
position: fixed !important;
top: 0;
left: 0;
right: 0;
z-index: 100;
}

.student-profile-container {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 3px;
color: #f0f8ff;
z-index: 100;
}

.back-btn {
  margin-inline-end: 18px;
}

.student-profile-container .student-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

    .student-profile-container .student-profile .teaher-img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-size: cover;
      object-fit: cover;
      background-position: center;
      border: 2px solid rgb(2, 125, 249);
      padding: 2px;
      margin-right: 13px;
  }

  .student-profile-container .student-profile .student-details {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
  }
  .student-profile-container .student-profile .student-details .student-name{
      font-size: 16px;
      font-weight: 400;
      color: rgb(255, 255, 255);
  }
  .student-profile-container .student-profile .student-details .student-status{
      font-size: 10px;
      font-weight: 300;
      color: rgb(123, 145, 145);
  }

  .student-profile-container .user-call-action-center{
      margin-inline-end: 16px;
      min-width: 25%;
      z-index: 10;
  } 

  .student-profile-container .user-call-action-center .dropdown-menu {
      background-color: rgb(2, 38, 58);
      transition: all .5s ease-in-out;
      box-shadow: 0 0 10px rgba(0, 0, 0, .4);
      border-radius: 10px;
  }

  .student-profile-container .user-call-action-center .dropdown-menu .dropdown-item{
      color: aliceblue;
      background-color: transparent !important;

  } 
  .student-profile-container .user-call-action-center .dropdown-menu li{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block: 5px;
      padding: 10px;
  } 

  .student-profile-container .user-call-action-center .dropdown-menu li:hover{
    background-color: rgb(6, 21, 45);
  } 
  .student-profile-container .user-call-action-center .dropdown-menu li svg{
      width: 30px;
      height: 30px;
      filter: invert(1);
   margin-inline-start: 10px;

  } 
  .student-profile-container .user-call-action-center .dropdown-menu li .fa{
   font-size: 20px;
   color: #f0f8ff;
   padding-inline-start: 10px;
} 

  .chat-area {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../../Assets/customs/chat-bg.webp') center/cover no-repeat;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      min-height: 100vh;
      object-fit: contain;
      padding-block-start: 20%;
      padding-inline: 15px;
      display:flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;
      position: relative;
      color: wheat;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
  }

  .chat-area .welcome-text {
    background: rgba(1, 34, 49, 0.6);
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
    font-weight: 300;
    border: 1px solid rgb(123, 145, 145);
    margin-block: 20px;
  } 
  .current-date{
    position: absolute;
    top: 70px;
    background-color: rgb(2, 35, 32);
    padding-inline: 7px;
    border-radius: 50px;
    color: aliceblue;
  }
  .send-info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(6, 21, 45);

  }

  .collapse-body {
    position: fixed;
    bottom: 13%;
    left: 5%;
  }

  .collapse-body .card {
    background-color: rgb(15, 47, 86);
    width: 300px;
    border-radius: 50px;
    overflow: auto;
  }
  .collapse-body .card .file-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .file-btn-container a {
    padding: 10px;
    text-decoration: none;
    color: #f0f8ff;
    margin: 10px;
  }
  .file-btn-container a span i{
    background: rgb(1, 81, 112);
    border-radius: 50px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }
  .collapse-body .card .file-btn-container a span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .collapse-body .card .file-btn-container a span:hover{
    transform: scale(.9);
    transition: all .3s ease;
  }
  .collapse-body .card .file-btn-container a small{
    margin-top: 12px;
  }
  .send-info textarea {
    width: 100%;
    height: 50px;
    background-color: inherit;
    margin-inline: 10px;
    /* margin-right: 20px; */
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 60px;
    box-shadow: none;
    outline: none;
    background: rgb(0, 46, 66);
    box-sizing: border-box;
    resize: none;
  }

  .send-text-btn {
    background-color: rgb(3, 84, 124);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
    padding-inline-end: 0 !important;
    display: none;
    transition: all .10s ease-in-out;
  }

  .file-btn-group {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-inline-start: 5px;
  }

  .toggle-styles {
      display: none !important;
      visibility: hidden;
    transition: all .10s ease-in-out;

  }
  .show-send-btn {
    display: flex;
    visibility: visible;
  }

  .file-btn-group span{
    padding-inline-end: 25px;
  }

     .file-btn-group span:last-child{
    padding-inline-end: 10px;
  }

  .send-info i {
    font-size: 24px;
    color: wheat;
  }
  .current-date.sticky {
    position: fixed;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

#student-contact-container .card {
background: rgb(0, 26, 57);
}

.wrapper {
position: fixed;
top: 30%;

}


#student-contact-container .card button{
background: forestgreen;
margin-top: 20px;
box-shadow: none;
}

.profile-container {
position:  fixed !important;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100vh;
overflow-y: scroll;
background: rgb(10, 59, 78);
}


.student-profile-content .background-banner {
background-color: rgb(1, 28, 67);
  width: 100%;
  height: 150px;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.profile-content {
z-index: 10;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
flex-wrap: nowrap;
margin-top: 30px;
}

.profile-content .student-img {
width: 150px;
height: 150px;
border-radius: 100px;
background-size: cover;
object-fit: cover;
background-position: center;
border: 2px solid rgb(2, 125, 249);
padding: 2px;
clear: both;
}

.profile-content .student-name {
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
color: white;
}


.profile-container .card-wrap {
margin-bottom: 20px;
background-color: rgb(1, 18, 40);
border-radius: 20px;
padding: 15px;
font-weight: lighter !important;
font-size: large;
color: burlywood;
}

.profile-container .card-wrap .student-mobile-contact {
display: flex;
align-items: start;
justify-content: center;
flex-direction: column;
}

.profile-container .card-wrap .user-action-center ul{
display: flex;
align-items: start;
justify-content: center;
flex-direction: row;
flex-wrap: nowrap;
}

.profile-container .card-wrap .user-action-center ul .nav-link{
border-radius: 50px;
margin-inline: 5px;
background-color: rgb(1, 103, 108);
color: #f0f8ff;
}

.profile-container .close-btn {
padding: 10px;
background-color: transparent !important;
border: none;
box-shadow: none !important;
outline: none !important;
font-weight: 900;
font-size: 18px;
}


/* dashboard */

main .card-box{
border-radius: 20px;
display: flex;
align-items: start;
justify-content: center;
flex-direction: column;
flex-wrap: nowrap;
padding: 15px 10px;
box-shadow: inset 20px 30px 60px rgb(1, 109, 167);
flex-grow: 3;
background: rgb(1, 51, 78);
color: #f0f8ff;
}


.dashboard-wrapper .card-box .card-body{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
flex-wrap: nowrap;
}

.dashboard-wrapper  .card-box .card-icon{
margin-bottom: 10px;
display: flex;
align-items: center;
}


.dashboard-wrapper  .card-box  .card-icon i{
font-size: 37px;
margin-left: 12px;
border-radius: 50px;
}

.dashboard-wrapper  .card-box .card-contact-details{
margin-top: 10px;
display: flex;
flex-direction: column;
margin-left: 15px;
}

.dashboard-wrapper  .card-box .card-contact-details  .card-title{
font-size: 26px !important;
font-weight: 600;
margin-bottom: 5px;
}

.dashboard-wrapper  .card-box .card-contact-details  .card-title{
font-size: 14px;
font-weight: 600;
margin-bottom: 5px;
}

.dashboard-wrapper  .card-box .card-contact-details  .total-number{
font-size: 26px;
font-weight: bolder;
}


.student-progress-bar {
width: 100px;
height: 100px;
border: 15px solid rgb(174, 39, 192);
border-radius: 50px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-weight: bold;
border-bottom: 15px solid rgb(205, 205, 205) !important;
border-left: 15px solid rgb(205, 205, 205) !important;
border-right: 15px solid rgb(205, 205, 205) !important;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
color: rgb(53, 209, 1);
}

.update-time {
margin-bottom: 0;
color: rgb(203, 205, 88);
font-size: 16px;
padding-block: 4px;
margin-left: 15px;
}


.recent-updates {
border-radius: 20px;
flex-wrap: nowrap;
padding: 15px 10px;
background: rgb(1, 64, 113)  ;
width: 100%;
padding: 14px 10px;
max-height: 280px;
overflow-y: auto;
}

.active-student-wrapper {
border-radius: 20px;
background: rgb(1, 64, 113)  ;
width: 100%;
padding: 14px 10px;
max-height: 280px;
overflow-y: auto;
position: relative;
padding: 20px !important;
}

.active-student-wrapper .active-student-img {
max-width: 65px;
max-height: 65px;
border-radius: 50px;
border: 2px solid rgb(1, 165, 225);
padding: 2px;
}

.active-student-wrapper .active-status-ball {
width: 20px;
height: 20px;
border-radius: 50px;
background: rgb(1, 225, 83);
position: absolute;
right: 18%;
bottom: 5%;
}


.active-student-wrapper .active-student-name {
color: #f0f8ff;
font-size: 20px;
}


main .recent-updates::-webkit-scrollbar, .active-student-wrapper::-webkit-scrollbar{ 
width: 0px;
background: transparent;
}
main .recent-updates::-webkit-scrollbar-track { 
margin-block: 20px;
background-color: rgb(255, 255, 255);
border-radius: 100vw;
margin-left: -20px;
}
main .recent-updates::-webkit-scrollbar-thumb { 
background-color: rgb(105, 108, 112);
border-radius: 100vw;

}
main .recent-updates::-webkit-scrollbar-thumb:hover { 
background-color: rgb(5, 97, 226);
}

.recent-updates .profile {
display: flex;
align-items: start;
justify-content: start;
flex-direction: column;
padding: 8px;
margin-block-end: 10px;
}



.recent-updates .profile img {
width: 55px;
height: 55px;
border-radius: 50px;
background-position: center;
background-size: cover;
object-fit: cover;
border: 2px solid rgb(100, 15, 134); 
padding: 2px;
margin-right: 15px;

}

.recent-updates .profile .profile-update-name {
font-weight: 900 !important;
font-size: 15px;
color: rgb(11, 217, 4)
}

.recent-updates .profile .profile-update-content {
font-weight: lighter;
font-size: 18px;
color: rgb(247, 244, 244);
margin-left: 4px;
}

.recent-updates .profile .time-updated {
padding-left: 50px;
font-weight: bolder;
font-size: 10px;
color: rgb(151, 158, 14);
margin-left: 4px;
}

footer {
position: sticky;
top: 100%;
width: 100%;
color: aliceblue;
text-align: center;
padding: 10px 15px;
font-size: 20px;
}

.time-table-wrapper {
/* background-color: red; */
border-radius: 30px;
position: relative !important;
}


.time-table-wrapper ul {
position: absolute;
bottom: -15%;
border-radius: 20px;
left: 0;
right: 0;
background-color: rgb(0, 57, 90);
z-index: 5;
display: flex;
align-items: center;
justify-content: space-evenly;
}


.time-table-wrapper ul li{
width: 20px;
height: 20px;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
border-radius: 50px;

}
.time-table-wrapper ul li:hover{
transition: all ease .5s !important;
font-size: 30px !important;
color: rgb(17, 17, 17) !important;
background-color: burlywood;
}

.time-table-wrapper .carousel-item img {
width: 100%;
height: 100%;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
object-fit: cover;
object-position: center;
border-radius: 30px;
}
.time-table-wrapper .carousel-item {
padding: 20px;
}


.admin-contact-panel-wrapper {
background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
z-index: 100;
overflow: hidden;
margin: auto;
}

.admin-panel {
display: flex !important;
align-items: center !important;
justify-content: center !important;

}

.admin-contact-panel-wrapper .card-box{
  border-radius: 20px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: inset 20px 30px 60px rgb(1, 63, 128);
  flex-grow: 3;
  background: rgb(1, 22, 46);
  color: #f0f8ff;
}

.admin-contact-panel-wrapper .card-box li {
width: 100%;
background: transparent;
text-align: start;
color: beige;
padding: 15px 20px;
display: flex;
align-items: stretch;
justify-content: stretch;
border-bottom: 1px solid rgb(0, 72, 116);
font-size: 22px;
}


.admin-contact-panel-wrapper .card-box li:last-child{
border-bottom:none;
}

.admin-contact-panel-wrapper .card-box li:hover{
background: rgb(0, 26, 57);
}


.admin-contact-panel-wrapper .card-box li:hover:last-child{
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}

.close-admin-contact-card {
position: fixed;
top: 5%;
right: 10%;
color: #f0f8ff;
font-weight: bolder;
font-size: 24px;
box-shadow: none;
outline: none;
border: none;
}

.notification-header-list {
z-index: 10;
display: flex;
align-items: center;
justify-content: space-between;
list-style: none;
overflow-x: auto;
width: 100%;
}
.notification-header-list li {
font-weight: bolder;
padding-inline: 5px;
margin-inline-start: px;
color: rgb(35, 190, 188);
}

.notify-logo-content {
color: rgb(110, 129, 154) !important;
}
.notification-header-list li:hover {
border-radius: 5px;
color: burlywood;
border: thin solid;
font-weight: bolder;
}
.notification-header {
font-size: 14px;
}



.notify-logo-content {
color: rgb(110, 129, 154) !important;
}
.notification-header-list li:hover {
border-radius: 5px;
color: burlywood;
border: thin solid;
font-weight: bolder;
}
.notification-header {
font-size: 14px;
}

.notification-body {
background: rgb(1, 32, 70) !important;
color: aliceblue;
}
.notification-text {
padding: 5px 10px;
}

.notification-action-center button {
margin-inline: 10px;
}
.notification-duration-details {
font-size: 13px;
color: rgb(1, 225, 83);
}

.attendance-table-wrapper{
width: 100%;
overflow-x: auto;
}

table .number {
list-style: decimal;
}

.user-attendance-img , .student-profile-img{
width: 40px;
height: 40px;
border-radius: 50px;
background-position: center;
background-size: cover;
object-fit: cover;
object-position: center;
border: 2px solid rgb(1, 184, 225);
padding: 2px;
}

.adttendance-status {
color: rgb(2, 157, 59);
border-radius: 50px;
font-weight: bold;
}

.adttendance-table-wrapper, .profile-table-wrapper {
background-color: #f0f8ff;
padding: 20px;
border-radius: 10px;
}

.attendance-header input , .profile-header input{
box-shadow: none !important;
outline: none  !important;
padding-inline-start: 35px;
border-radius: 20px;
}

table .nav {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}

table {
width: 100%;
}

.attendance-header .form-group, .profile-header .form-group{
position: relative;
}

.attendance-header .form-group .icon , .profile-header .form-group .icon {
position: absolute;
top: 0;
bottom: 0;
left: 6%;
display: flex;
align-items: center;
justify-content: center;
}

table th {
font-weight: bolder !important;
color: rgb(0, 0, 0) !important;

}


table tbody{
background: rgb(247, 246, 210) !important;
white-space: nowrap;
color: rgb(5, 85, 197) !important;

}

.profile-header-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
background: rgb(0, 57, 90);
border-bottom: thin solid rgb(1, 96, 148);
z-index: 10;
}


/* profile */

.student-progress-wrapper, .student-details-wrapper{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100vh;
background: rgb(0, 26, 57);
z-index: 100;
overflow-y: auto;
}

.student-bio-details {
background: rgb(0, 57, 90);
border-radius: 10px;
}

.student-bio-details .form-control{
box-shadow: none;
border-radius: 10px !important;
color: rgb(167, 188, 2);
border: none;
background-color: rgb(1, 30, 68);
font-size: 24px;
}

.student-bio-details .form-group {
margin-block: 10px;
}

.student-bio-details .form-group label {
margin-block: 10px;
color: #f0f8ff;
font-size: 20px;
}


body::-webkit-scrollbar {
width: 0px;
background: transparent;
}

.student-progress-wrapper::-webkit-scrollbar, .profile-container::-webkit-scrollbar {
width: 0px;
background: transparent;
}
.teacher-qick-actions ul{
overflow-x: scroll;
white-space: nowrap;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
flex-wrap: nowrap;
padding-block: 10px;
}

.teacher-qick-actions ul::-webkit-scrollbar {
width: 0px;
background: transparent;
}

.teacher-qick-actions li{
  background: rgb(0, 26, 57);
  text-align: start;
  color: beige;
  padding: 15px;
  justify-content: start;
  font-size: 23px;
  margin-right: 10px;
  border-radius: 10px;
}

.profile-container .card-wrap  {
cursor: pointer;
background: transparent !;
}

.offcanvas-body::-webkit-scrollbar {
width: 0px;
background: transparent;
}

.student-progress-wrapper .card-wrap .progress-details li{
width: 100%;
  background: transparent;
  text-align: start;
  color: beige;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 23px;
}

.close-progress-btn, .close-detail-btn {
position: fixed;
top: 3%;
left: 5%;
font-size: 20px;
font-weight: bolder;
}

.student-progress-wrapper .progress-navbar {
background: rgb(1, 51, 67);
margin-inline: 10px;
border-radius: 20px;
color: #f0f8ff;
font-size: 23px;
}

.student-progress-wrapper .progress-navbar li{
border-radius: 10px;
padding-inline: 10px;
cursor: pointer;
}

.student-progress-wrapper .progress-navbar li:hover{
background: rgba(0, 24, 37, 0.969);
}